<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="description" content="A community of people completing challenges every day">
    <meta name="author" content="Tom Wallis & contributors">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>TweakToday</title>
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'tt_core/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tt_core/skeleton.css' %}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="eleven columns" style="margin-top: 15rem">
            <h1>TweakToday</h1>
        </div>
    </div>
    {% include 'tt_core/nav.html' %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>