<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="description" content="A community of people completing challenges every day">
    <meta name="author" content="Tom Wallis & contributors">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>TweakToday</title>
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static 'tt_core/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tt_core/skeleton.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'tt_core/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'tt_core/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'tt_core/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'tt_core/site.webmanifest' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="eleven columns" style="margin-top: 5rem">
            <a href="/"><h1>TweakToday</h1></a>
        </div>
    </div>
    {% include 'tt_core/nav.html' %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
