{% extends 'tt_core/base.html' %}
{% load markdown_extras %}

{% block content %}

{% block special_text %}
{% endblock %}

{% if challenge is None %}
    <div class="row">
        <div class="nine columns">
            <p>For some reason, this challenge couldn't be retrieved...sorry!</p>
        </div>
    </div>
{% else %}
<div class="embossed" style="margin-bottom: 2rem">
    <div class="row">
        <div class="nine columns">
            <p>Today's challenge: <i>{{ challenge.task_text }}</i>.</p>
        </div>
    </div>
    {% if challenge.task_explainer != "" %}
    <div class="row">
        <div class="nine columns">
            <p><i>{{ challenge.task_explainer }}</i></p>
        </div>
    </div>
    {% endif %}
</div>



    {% if submission_form and user.is_authenticated %}
        <button class="button toggle_submission_form_vis" id="show_button">Submit an entry</button>
        <form action="{% url 'tt_core:post_submission' challenge.pk %}"
              id="submission_form"
              enctype="multipart/form-data"
              method="POST">
            {% if submission_message %}
            <strong>{{ submission_message }}</strong>
            {% endif %}
            {% csrf_token %}
            <div class="row">
                <div class="three columns u-max-full-width">{{submission_form.explanatory_text.label}}</div>
                <div class="nine columns u-max-full-width">{{submission_form.explanatory_text}}</div>
            </div>
            <div class="row">
                <div class="three columns u-max-full-width">Optional {{submission_form.submission_url.label}}</div>
                <div class="nine columns u-max-full-width">{{submission_form.submission_url}}</div>
            </div>
            <div class="row">
                <div class="three columns u-max-full-width">Optional photo/video</div>
                <div class="nine columns u-max-full-width">{{submission_form.submission_photo_or_video}}</div>
            </div>
            <div class="row">
                <div class="three columns">
                    <button class="button toggle_submission_form_vis" id="hide_button">Hide submision form</button>
                </div>
                <div class="three columns">
                    <input type="submit" value="Post submission" name="Submit"/>
                </div>
            </div>
        </form>
        <script>
            {% if submission_message %}
            $("#show_button").hide()
            {% else %}
            $("#submission_form").hide();
            $("#hide_button").hide();
            {% endif %}
            $(".toggle_submission_form_vis").click(function() {
                $("#submission_form").toggle();
                $(".toggle_submission_form_vis").toggle();
            });
        </script>
    {% endif %}

    {% for sub in submissions %}
    {% if not forloop.first %}
    <hr>
    {% endif %}
    <div class="row">
        <div class="eleven columns"><a href="{% url 'tt_core:profile' sub.submitted_by.username %}">{{ sub.submitted_by.username }}</a>{% if sub.tweak_url %} submitted something <a href="{{ sub.tweak_url }}">here</a>.{% else %} made a submission.{% endif %}</div>
        {% if sub.extra_content %}
        {% if sub.is_video %}
        <video controls playsinline preload="metadata">
		<source src="{{ sub.extra_content.url }}" width="320" height="240" type="{{ sub.mime }}"></source>
            <source src="{{ sub.extra_content.url }}" width="320" height="240" type="video/mp4"></source>
            <source src="{{ sub.extra_content.url }}" width="320" height="240" type="video/webm"></source>
            <source src="{{ sub.extra_content.url }}" width="320" height="240" type="video/ogg"></source>
	    Sorry… it doesn't look like your browser can load this video type.
        </video>
        {% else %}
        <img src="{{sub.extra_content.url}}"/>
        {% endif %}
        {% endif %}
    </div>
    <div class="row">
        <div class="two-thirds column"><p>They said: {{ sub.submission_explainer | markdown | safe}}</p></div>
    </div>
    <div class="row">
        <div class="six columns">
            <form action="{% url 'tt_core:view_comments' sub.pk %}">
                <input type="submit" value="{% if sub.comment_set.all|length is 0 %}Comment{% else %}View {{sub.comment_set.all|length}} Comments{% endif %}"/>
            </form>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <p>There are no submissions yet...you should get in there first!</p>
    </div>
    {% endfor %}

{% endif %}

{% endblock %}
