{% extends 'tt_core/base.html' %}

{% block content %}
{% for suggestion in suggs %}
    <div class="row" style="margin-bottom: 4rem">
        <div class="nine columns">{{ suggestion.task_text }}</div>
        {% if user.is_authenticated %}
        <form action="{% url 'tt_core:submit_vote' suggestion.pk %}" method="get" class="upvote_button">
            <input type="submit" value="upvote" name="Submit" id="upvote_suggestion_{{suggestion.pk}}"/>
        </form>
        {% endif %}


        {% if suggestion.task_explainer %}<div class="nine columns"><i>{{ suggestion.task_explainer }}</i></div>{% endif %}
    </div>
{% empty %}
There are no suggested tweaks right now!
{% endfor %}
{% endblock%}
