{% extends 'tt_core/base.html' %}

{% block content %}
{% for suggestion in suggs %}
    <div class="row{% if forloop.counter == 1 %} embossed{% endif %}" style="margin-bottom: 4rem">
        <div class="seven columns">{{ suggestion.task_text }}</div>
        <div class="two columns"><p>{{ suggestion.votes }} votes</p></div>
        {% if user.is_authenticated %}

            {% if user in suggestion.task_voters.all %}
                <form action="{% url 'tt_core:remove_vote' suggestion.pk %}" method="post" class="remove_vote_button">
                    {% csrf_token %}
                    <input type="submit" value="remove vote" name="Submit" id="remove_vote_suggestion_{{suggestion.pk}}"/>
                </form>
            {% else %}
                <form action="{% url 'tt_core:submit_vote' suggestion.pk %}" method="post" class="upvote_button">
                    {% csrf_token %}
                    <input type="submit" value="upvote" name="Submit" id="upvote_suggestion_{{suggestion.pk}}"/>
                </form>
            {% endif %}

        {% endif %}


        {% if suggestion.task_explainer %}<div class="nine columns"><i>{{ suggestion.task_explainer }}</i></div>{% endif %}
    </div>
{% empty %}
There are no suggested tweaks right now!
{% endfor %}
{% endblock%}
